#map { height: 53rem }

tspan.duration-title {
    font-weight: bold;
    font-size: 1.2em;
}

.pie-chart-label {
    font-weight: bold;
    font-size: 13px;
    text-shadow: 2px 2px 12px #FF00B7;
}

/* Legend styling */
.legend {
    padding: 6px 8px;
    font: 14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    line-height: 30px;
    color: #555;
  }

  .legend h4 {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: #777;
  }

  .legend .legend-element {
    display: flex;
    align-items: center;
  }

  .legend i {
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 1;
  }
  
  .legend i.icon {
    background-size: 20px;
    background-color: rgba(255, 255, 255, 1);
  }

  .title-container {
    width: 98%;
    position: fixed !important;
    display: flex;
    justify-content: center;
  }

  .title-container .title {
    text-align: center;
    background: rgba(255,255,255,0.75);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
  }

  .title-container .title h1 {
    margin-bottom: -20px;
  }